.dbname {
    margin-top: 5px;
    padding: 5px;
    background-color: #F00;
    border: 2px solid #666;
    width: auto;
    color: #000000;
}

.dbname:active {
    margin-top: 5px;
    padding: 5px;
    background-color: blue;
    border: 2px solid #666;
    width: auto;
    color: #000000;
}

label {
    margin-top: 5px;
    padding: 5px;
    background-color: #F00;
    border: 2px solid #666;
    width: auto;
    color: #000000;
}

.tables {
    font-size: 12px;
}

.btn .tables {
    display: block;
}